filebeat:
  prospectors:
{% if filebeat_app == 'akana' %}
    -
      paths:
        - /opt/akana_sw/sm8/instances/*/log/*.log
      input_type: log
      include_lines: ['(\W|^)OutOfMemoryError(\W|$)','(\W|^)Cannot\sget\sa\sconnection\spool\sexhausted(\W|$)','(\W|^)Error\sin\screating\sPrepared\sstatement\sfor\sthe\squery(\W|$)','(\W|^)at\sthe\sbelow\sstack\strace.\sNot\sclosed\sin\sthe\ssame\smethod(\W|$)','(\W|^)org\sapache\slucene\sstore\sjdbc\sJdbcStoreException(\W|$)','(\W|^)Timeout\swaiting\sfor\sidle\sobject(\W|$)','(\W|^)com\sdigev\sfw\sexception\sGException\sjavax\swsdl\sWSDLException\sWSDLException\sfaultCode\sOTHER_ERROR(\W|$)','(\W|^)GC\soverhead\slimit\sexceeded(\W|$)','(\W|^)XmlSiteMinderProviderConfig(\W|$)','(\W|^)Wsdl\sdoes\snot\sconform\sto\swsdl\sschema(\W|$)','(\W|^)Error\sencountered\sin\sWS-Security\sengine(\W|$)','(\W|^)Log\sframe\sis\sclosed\sat\sthe\sbelow\sstack\strace(\W|$)','(\W|^)Log\sblock\snot\sclosed\scorrectly\sEnable\slog\sblock\stracking\sto\ssee\sdiagnostic\sinformation(\W|$)','(\W|^)No\scorresponding\sstartTraceBlock\sis\sseen(\W|$)','(\W|^)Illegal\scharacter(\W|$)','(\W|^)com\smysql\sjdbc\sexceptions\sjdbc4\sCommunicationsException(\W|$)','(\W|^)Unable\sto\sinitialize\sSiteMinder\sagent(\W|$)','(\W|^)Data\struncation(\W|$)','(\W|^)federation\smember\sauth\stoken\scannot\sbe\srefreshed(\W|$)','(\W|^)org\scompass\score\sengine\sSearchEngineException\sFailed\sto\sprocess\sjob(\W|$)','(\W|^)UsageJDBCWriter\swriteUsage(\W|$)','(\W|^)java\slang\sNullPointerException\sat\scom\ssoa\sjbi\scomponent\shttp\smarshal\simpl\sOutgoingExchangeInitializer(\W|$)','(\W|^)ERROR\sDBStatementAndResultSetTracker\sPreparedStatementTracker(\W|$)','(\W|^)No\sSubject\sis\sassociated\swith\sthe\scall\sOnly\sContainer\sidentities\scan\sinvoke\sthis\scall\sReturning\sauthorization\serror(\W|$)','(\W|^)com\sdigev\sfw\sexception\sGException\sNo\sprocess\sfound(\W|$)','(\W|^)Log\sblock\snot\sclosed\scorrectly\sEnable\slog\sblock\stracking\sto\ssee\sdiagnostic\sinformation(\W|$)']
{% endif %}
{% if filebeat_app == 'mysql' %}
    -
      paths:
        - /mysql/slow-queries.log
      input_type: log
      document_type: mysql
      fields: { log_type: query }
      mysql_version: 5.6
      fields_under_root: true
      multiline:
        pattern: '(^# Time:.*)?^# User@Host:.*'
        negate: true
        match: after
{% endif %}
output:
  logstash:
{% if filebeat_app == 'akana' %}
    hosts: ["{{ elk_server }}:{{ logstash_syslog_port }}"]
{% endif %}
{% if filebeat_app == 'mysql' %}
    hosts: ["{{ elk_server }}:5055"]
{% endif %}

logging.level: error
logging.to_files: true
logging.files.path: /var/log/filebeat
logging.files.name: filebeat.log
logging.files.rotateeverybytes: 10485760
logging.files.keepfiles: 7
